@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-light text-slate-900 dark:bg-background-dark dark:text-white transition-colors duration-200;
  }
}
